.home{
    background-color: #C4D9FB;
}

.coder ul{
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.coder ul a{
    text-decoration:none;
    color: black;
}
.coder ul a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: violet;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.coder ul a:hover::after{
    width: 60px;
}
.street{
    color: #6CB840;
}
.order{
    background-color:#6CB840 ;
    border-radius: 30px 30px 30px 30px;
    border: transparent;
    height: 4vh;
}
.food{
    font-family: Poppins;
}
.meat{
    color: rosybrown;
}
.together{
    color: rosybrown;
}
.menu{
    display: flex;
}
.burger{
    color: seagreen;
    font-size: large;

}
.deall{
    display: flex;
}
.deals{
    display:flex
}
.drinks{
    color: seagreen ;
}
.pizz{
    background-color:#97c47f ;
}
.old{
    color:#6CB840 ;
}
.us{
    background:#90C8EB;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.send{
    color:white;
    border-radius: 50px 50px 50px 50px;
    border: transparent;
    height: 4vh;
    background-color: #6CB840;
}